<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <div class="main w-full bg-black min-h-screen bg-zinc-900">

        <div class="form p-10 text-white">

            <form action="/create" method="post">
                
                <input type="text" class="block w-full px-5 py-3 bg-zinc-600 rounded"  placeholder="enter the title" name="title">

                <textarea class="block w-full px-5 py-3 mt-2 bg-zinc-600 rounded resize-none" placeholder="Enter the message" name="details"></textarea>

                <input type="submit" class="mt-2 bg-blue-600 rounded-md px-3 py-2" value="Create Task">
            </form>

        </div>
        <div class="tasks p-10 flex gap-4 flex-wrap">
           
            <% files.forEach(file => {%>
                <% if(files.length>0) { %> 
                    <div class="task w-100 px-3 py-4 bg-zinc-800 rounded-md text-white">
                        <h1 class="text-3xl tracking-tighter "><%= file %></h1>
                        <div class="flex justify-between">

                            <a class="text-blue-400" href="/file/<%= file  %>">click here</a>
                            
                            <a class="text-yellow-600" href="/edit/<%= file %>">Edit filename</a>
                        </div>
                    </div>
               <% } else { %> 
                    <h3 class="bg-zinc-800 text-white">no tasks yet</h3>
               <% } %>
            <% }); %>

        </div>
    </div>
</body>
</html>